# Objects and executables
*.x
*.o

# IDE folders
.idea/
.vscode/
*.idea/
*.vscode/


mat-mat-mul/hp*
mat-mat-mul/other/
mat-mat-mul/other/*


jacobi/other
jacobi/other/*

# LaTeX working dir
/out
/out/*

# SLURM outs
*.out

